@charset "utf-8";

/** Essential Crap **/

* {
  font-family: "Press Start 2P", "Source Code Pro", verdana, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::selection {
  background-color: teal;
}

*:link,
*:visited,
#specialthanks {
  text-decoration: none;
  transition: all 0.5s ease-out;
  color: cornflowerblue;
  text-shadow: 1px 1px 0px rgb(86, 86, 104);
}

a {
  transition: all 0.5s;
}

a:hover {
  transform: translateY(-2px);
}

header {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.maintext {
  width: 80%;
  padding: 30px;
  border: 10px solid rgb(0, 174, 255);
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  transition: all .5s;
}

.maintext:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  transform: translateY(-10px);
}


/***** Custom Things *****/

/** Custom Scrollbar **/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 174, 255);
  transition: all 0.5s;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(14, 124, 175);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

#specialthanks {
  pointer-events: pointer;
  cursor: pointer;
}

#specialthxcont {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#specialthx1 {
  background-image: url(https://cdn.glitch.com/1b609a0f-db84-4803-9927-b6db99f31462%2Frene-pereyra-metal-plate.jpg?v=1630793493869);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  background-blend-mode: multiply;
  border-radius: 10px;
  position: absolute;
  height: 415px;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 3px 3px 0px rgb(49, 49, 49);
  padding: 10px;
  box-shadow: 5px 5px 0px rgb(65, 65, 65);
}

#specialthx1 ul li {
  font-size: 13px;
  padding: 4px;
}

/** Footer **/

footer,
hr {
  background-color: slategray;
  color: silver;
  text-shadow: 2px 2px 0px rgb(139, 139, 139);
  border-top: 7px solid darkslategray;
}
